main {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2em;
  width: 100%;
  margin-top: 1rem;
  padding: 2em 4em;
}

/* form */

.form-put {
  flex-shrink: 0;
  width: 25em;
  padding: 1em;
  border: 1px solid var(--border);
  box-shadow: 0px 8px 10px -5px #ccc;
  border-radius: 12px;
  animation: toTop .5s ease-in-out 0s 1;
}

.popover {
  width: 40vw;
  height: 22vh;
  margin: auto;
  padding: .4em 1em 1em;
  border: 1px solid #ccc;
  text-align: center;
}

.popover h2 {
  margin: 1.2em 0;
}

.btn-warp {
  display: flex;
  gap: .5em;
}

.btn-warp * {
  margin-top: auto;
}

/* users */

section {
  width: 70%;
  padding: 1em 1.5em .2em;
  border: 1px solid var(--border);
  box-shadow: 0px 8px 10px -5px #ccc;
  border-radius: 12px;
  animation: toTop .5s ease-in-out 0s 1;
}

article {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 3.5em 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.2em 0.5em;
  margin: 1.5em 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}
.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  background: linear-gradient(135deg, hsl(217, 91%, 60%), hsl(199, 89%, 48%));
  outline: 1px solid #ccc;
  outline-offset: 1px;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.email {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.telephone {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* animation */

@keyframes toTop {
  from {
    transform: translateY(4em);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Home responsive */

@media screen and (max-width: 71em) {
  main {
    font-size: 14px;
  }
}

@media screen and (max-width: 62em) {
  main {
    flex-direction: column;
    padding: 1em;
  }

  .form-put {
    width: 100%;
  }

  section {
    width: 100%;
  }
}

@media screen and (max-width: 35em) {
  article {
    grid-template-columns: 5em 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .letter {
    grid-row: 1 / 4;
  }

  .telephone {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 25em) {
  main {
    font-size: 12px;
  }
}
