header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 1.5em 1em;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 5px 10px -5px #ccc;
}

.logout {
  width: 7.5em;
  height: 3.2em;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px -2px #ccc;
}
